.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    row-gap: 92px;
}


@media screen and (max-width: 768px) {
    .content {
        row-gap: 84px;
    }

    .content:nth-child(4) {
        row-gap: 90px;
    }
}
@media screen and (max-width: 320px) {
    .content {
        row-gap: 64px;
    }

    .content:nth-child(4) {
        row-gap: 66px;
    }
} 
