.place__website {
    align-self: end;
    grid-area: website;
    max-width: 456px;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 340px) {
    .place__website {
        max-width: 100vw;
        margin: 0 16px;
    }
}